.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1.5rem 3.5rem; */
  padding:1.5rem 2.5rem;
  z-index: 10;
  /* backdrop-filter: none; */
  /* background-color: #141414; */
  width:1340px;
}

.nav img {
  padding-left:6rem;
  width: 200px;
  height: auto;
}

.rightControls {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-right:6rem;
}

.languageSelect {
  background-color: rgba(0, 0, 0, 0.4);
  width:10rem;
  height:2.5rem;
  color: white;
  font-size: large;
  padding: 0.4rem 0.8rem;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.btn {
  background-color: #e50914;
  color: white;
  padding: 0.5rem 1.2rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #be2f37;
  color:white;
}