.loginWrapper {
  background: url('/background.jpg') center/cover no-repeat;
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.loginContainer {
  position: relative;
  z-index: 2;
  width: 400px;
  /* padding: 3rem 2rem; */
  padding: 60px 68px;
  background: rgba(0, 0, 0, 0.71);
  color: #fff;
  border-radius: 8px;
}

.logo {
  font-size: 2.5rem;
  color: red;
  font-weight: 800;
  margin-bottom: 1rem;
}

.form h2 {
    font-size: 2.5rem;
    text-align: left;
  /* margin-bottom: 1rem; */
  margin: 0 0 28px 0;
}

.form input {
    margin:10px;
  width: 90%;
  height:40px;
  padding: 12px;
  margin-bottom: 1rem;
  border: rgb(132, 128, 128) 1px solid;
  background: #0f0f0fc9;
  color: white;
  /* border: 2px #fff; */
  border-radius: 4px;
  font-size: 16px;
}
.form input::placeholder {
  color: #aaa;
}
.form button {
    margin:10px;
  width: 97%;
  padding: 12px;
  background: #e50914;
  color: rgb(243, 237, 237);
  border: none;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.orDivider {
  text-align: center;
  margin: 10px 0;
  opacity: 0.7;
}

.codeButton {
  width: 100%;
  padding: 12px;
  background: #555;
  color: white;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
}

.forgotLink {
  display: block;
  text-align: center;
  color: #f9f8f8;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}
.forgotLink:hover {
  color:#9c9898;
}
.rememberMe {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
}
.signinLink {
    color:#9c9898
}
.signinLink span{
    color:whitesmoke;
    font-weight: bold;
}